/* Import google fonts */
@import url("https://fonts.googleapis.com/css?family=Oleo+Script&display=swap");
@import url("https://fonts.googleapis.com/css?family=Catamaran:300&display=swap");

:root {
  --mainBlack:black;
  --lightBlue:black;
  --mainWhite:#f3f3f3;
  --mainYellow: #FFFF00;
  --mainDark:#232528;
  --mainYellow:#ffa400;
}
.row {
  color: white;
}

.jumbotron {
  background-size: cover;
  width:100%;
}

#intro {
  font-family: 'Catamaran', sans-serif;
}

.jumbo-btn {
  margin-top: 45%;
  margin-right: 40%;
  margin-left: 40%;
}

body {
  background: black !important;
  color: var(--mainDark) !important;
  font-family: 'Oleo Script', cursive;
}

.text-title {
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.text-blue {
  color: var(--mainBlue);
}

.text-bright {
  color: var(--lightBlue);
}

.btn-black {
  background:transparent;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  color:var(--mainDark);
  border-radius: 0 !important;
  border: 0.1rem solid var(--mainDark) !important;
}

.btn-black:hover {
  background: var(--mainDark) !important;
  color: var(--mainYellow) !important;
}

.cart-icon{
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--mainYellow);
}

#abt-title {
  padding: 2%;
  color: white;
}

.abt {
  color: white;
  font-family: 'Catamaran', sans-serif;
}

.title {
  text-align: center;
  color: white;
}

#colors {
  font-family: 'Catamaran', sans-serif;
}

.cart-btn {
  color: var(--mainYellow);
}

.card {
  width: 15rem;
}

#product-info {
  color:white;
}

.msg {
  color: black;
}

#count {
  color: var(--mainYellow);
}

.cart-title {
  margin-top: 35px;
  margin-bottom: 70px;
  color: white;
  text-align: center;
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px)  {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .img-fluid {
    width: 100%;
    height: 100vh;
    background-size: cover;
  }

  .card {
    width: 25rem;
  }
  
}

@media (min-width: 992px) {
.col-lg-4 {
    max-width: 50%;
    display: inline-grid;
}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .img-fluid {
    width: 100%;
    height: 100vh;
    background-size: 100%;

  }
}