/* Import google fonts */
@import url("https://fonts.googleapis.com/css?family=Oleo+Script&display=swap");

:root {
  --mainBlack:black;
  --lightBlue:black;
  --mainWhite:#f3f3f3;
  --mainDark:#232528;
  --mainYellow:#ffa400;
}
.jumbotron {
  background-image: url(../src/geton.png);
  background-size: cover;
  height:100vh;
  width:100%;
}

.jumbo-btn {
  margin-top: 45%;
  margin-right: 40%;
  margin-left: 40%;
}

body {
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
  font-family: 'Oleo Script', cursive;
}

.text-title {
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.text-blue {
  color: var(--mainBlue);
}

.text-bright {
  color: var(--lightBlue);
}

.btn-black {
  background:transparent;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  color:var(--mainDark);
  border-radius: 0 !important;
  border: 0.1rem solid var(--mainDark) !important;
}

.btn-black:hover {
  background: var(--mainDark) !important;
  color: var(--mainWhite) !important;
}

.cart-icon{
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--mainYellow);
}